@using Alumno.Domain.Model
@model List<StudentData>
@{
    ViewData["Title"] = "Index";
}

<style>
    td {
        vertical-align: middle !important;
    }
</style>
<div class="row" style="padding-top: 50px">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel">
            <div class="panel-heading">
                <h2>Listado de estudiantes</h2>
            </div>
            <div class="panel-body">
                @if (Model != null && Model.Count != 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombres</th>
                                <th scope="col">A. materno</th>
                                <th scope="col">A. paterno</th>
                                <th scope="col">F. nacimiento</th>
                                <th scope="col">Grado</th>
                                <th scope="col">Grupo</th>
                                <th scope="col">Calificación</th>
                                <th scope="col">Clave</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var student in Model)
                                {

                                    <td>@student.Name</td>
                                    <td>@student.MotherLastName</td>
                                    <td>@student.FatherLastName</td>
                                    <td>@student.Birthdate.ToString("dd//mm//yyyy")</td>
                                    <td>@student.Grade</td>
                                    <td>@student.Group</td>
                                    <td>@student.Calification</td>
                                    <td style="vertical-align: middle; font-weight:bold" id="@student.Id">XKBP22</td>
                                    <td>
                                        <div class="input-group" style="width: 100px">
                                            <input id="number_rotation" type="number" class="form-control" value="0" />
                                            <span class="input-group-btn">
                                                <button onclick="rotate_string(@student.Id)" class="btn btn-success" type="button"><span class="glyphicon glyphicon-repeat" style="font-size:12px"></span></button>
                                            </span>
                                        </div>
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Nada para mostrar</span>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function rotate_string(id) {
            var str = $('#' + id).html();
            var r = $('#number_rotation').val();
            if (is_valid(str) && is_valid(r)) {
                r = r % str.length;
                if (r < 0) {
                    // numero negativo
                    r *= -1;
                    $('#' + id).html(reverse_string(str.substring(str.length - r, str.length)) + str.substring(0, str.length - r));
                } else if (r > 0) {
                    // numero positivo
                    $('#' + id).html(str.substring(r, str.length) + str.substring(0, r));
                }
            }
        }

        function is_valid(value) {
            if (value !== undefined && value !== "") {
                return true;
            } else {
                return false;
            }
        }

        // from https://medium.com/sonyamoisset/reverse-a-string-in-javascript-a18027b8e91c
        function reverse_string(str) {
            var splitString = str.split("");
            var reverseArray = splitString.reverse();
            var joinArray = reverseArray.join("");
            return joinArray;
        }

    </script>
}