
@{
    ViewData["Title"] = "Statistic";
}
<style>
    .image-div-best {
        border-top: 1px solid green;
        border-bottom: 1px solid green;
        font-size: 1.5em;
    }

    .image-div-Worst {
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        font-size: 1.5em;
    }
    .canvas-table {
        max-height: 350px;
        max-width: 600px;
        margin: 0 auto;
    }
</style>
<div class="row" style="margin-top:20px">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="margin-left:0;margin-right:0;">
                <div class="row col-md-4">
                    <div class="col-md-12">
                        <div class="image-div-best" data-toggle="tooltip" title="Mayor calificación">
                            <img src="~/images/best.png" width="50" height="50"
                                 alt="block" style="vertical-align: middle;">
                            <span>@ViewBag.BestStudent.Name @ViewBag.BestStudent.FatherLastName @ViewBag.BestStudent.MotherLastName</span>
                        </div>
                    </div>
                </div>
                <div class="row col-md-2 col-md-offset-1">
                    <div class="col-md-12">
                        <div class="image-div-best" data-toggle="tooltip" title="Calificación promedio">
                            <img src="~/images/education.jpg" width="50" height="50"
                                 alt="block" style="vertical-align: middle;">
                            <span style="cursor:auto">@ViewBag.StudentAverage</span>
                        </div>
                    </div>
                </div>
                <div class="row col-md-4 col-md-offset-1">
                    <div class="col-md-12">
                        <div class="image-div-Worst" data-toggle="tooltip" title="Menor calificación">
                            <img src="~/images/worst.png" width="50" height="50"
                                 alt="block" style="vertical-align: middle;">
                            <span style="cursor:auto">@ViewBag.WorstStudent.Name @ViewBag.WorstStudent.FatherLastName @ViewBag.WorstStudent.MotherLastName</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="height: 400px">
                <div class="canvas-table">
                    <canvas id="statistics" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip(); 
        var ctx = document.getElementById('statistics').getContext('2d');
        var data_set = @Html.Raw(ViewBag.CounterByNote);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['10', '9', '8', '7', '6', 'menor que 6'],
                datasets: [{
                    label: 'Cantidad de estudiantes por nota',
                    data: data_set,
                    backgroundColor: [
                        'rgb(36, 236, 89, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                        'rgb(36, 236, 89,1)',
                        //'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Frecuencia de las notas de los estudiantes'
                },
                legend: {
                    display: false
                }
            }
        });
    </script>
}